
.container {
    border:black solid 1px;
}

/* Colors */
.bgColor {
    display:inline-block;
    width: 30%;
    text-align: center;
    color: white;
    margin: 5px;
    border-radius: 5%;
}

.darkBlue {
    background-color: hsla(241, 75%, 21%, 1);
}

.darkRed {
    background-color: hsla(348, 75%, 16%, 1);
}

.darkGreen {
    background-color: hsla(117, 54%, 11%, 1);
}

.offWhite {
    background-color: hsla(41, 16%, 83%, 1);
    color: black;
}

.blueHint {
    background-color: hsla(177, 100%, 81%, 1);
    color: black;
}

.sandy {
    background-color: hsla(55, 100%, 81%, 1);
    color: black;
}

.acColor {
    display:inline-block;
    width: 30%;
    text-align: center;
    margin: 5px;
    border-radius: 5%;
    background-color: black;
}

.ivory {
    color: hsla(31, 21%, 92%, 1);
}

.slightGreen {
    color: hsla(131, 77%, 92%, 1);
}

.yellowTint {
    color:hsla(56, 100%, 83%, 1);
}

.skyBlue {
    color:hsla(199, 100%, 83%, 1);
}

.importantRed {
    color: hsla(0, 100%, 60%, 1);
}

.deepBlue {
    background-color: hsla(41, 16%, 83%, 1);
    color: hsla(242, 100%, 22%, 1);
}

/* Fonts */
.font {
    display: inline-block;
    font-size: x-large;
    width: 30%;
    margin: 5px;
    border-radius: 5%;
}

.notoSerif {
    font-family: 'Noto Serif';
}

.bitter {
    font-family: 'Bitter';
}

.quicksand {
    font-family: 'Quicksand';
}

/* Text Styles */
.textStyles h1 {
    font-weight: 700;
    font-size: 26px;
    font-family: 'Noto Serif';
}

.textStyles h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Noto Serif';
}

.textStyles h3 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Bitter';
}

.textStyles p {
    font-weight: 300;
    font-size: 14px;
    font-family: 'Bitter';
}